#header {
    
    height: 35px;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    


}



a {
    text-decoration: none;
    text-decoration-color: black;
    color: #404040;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27px;
    font-size: 15px;
    
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

input.center{
    display: block;
    width: 800;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    text-align: left;

}

input[type=submit]{
    width: 120px;
    border-radius: 2px;
    margin-right: 10px;
    padding: 5px;
    margin-top: 20px;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);


   
}



#footer {
    position: fixed;
    height: 29px;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background: #f2f2f2;
    margin-left: -10px;
}
